* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 60%;
    max-width: 520px;
    margin: 3rem auto;
    height: auto;
    padding: 3rem;
    background-color: cadetblue;
    border-radius: 4px;
}

.login-container header {
    background-color: rgb(99, 184, 187);
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.inner-container {
    color: rgb(252, 248, 232);
    padding: 0rem;
}

label {
    display: block;
}

.user-input, .chatroom {
    font-size: 16px;
	padding: 5px;
	height: 40px;
    margin-bottom: 1rem;
    width: 100%;
}

.login-btn {
    cursor: pointer;
	padding: 5px 15px;
    border-radius: 3px;
    color: cornsilk;
    background-color: rgb(0, 100, 139);
}